@import 'tailwindcss';
@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';

@layer base {
  body {
    background-color: var(--color-bg-color);
    @apply text-white;
  }
}

@layer utilities {
  .line-clamp-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .bg-size-150 {
    background-size: 150px;
  }
}
/* Swiper custom styles */

.swiper-pagination {
  bottom: 20px !important;
}

/* Text gradient utilities */
.text-gradient-anime {
  background: linear-gradient(235deg, rgb(255, 255, 255) 30%, rgb(247, 161, 11) 130%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-gradient-marvel {
  background: linear-gradient(235deg, rgb(255, 255, 255) 30%, rgb(103, 65, 150) 130%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-gradient-usuk {
  background: linear-gradient(235deg, rgb(255, 255, 255) 30%, rgb(255, 0, 153) 130%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@theme {
  --color-bg-color: #191b24;
  --color-header-color: #0f111a;
  --color-primary: #f62682;
  --color-footer-bg: #0f111a;
}

@layer components {
  .page-container {
    max-width: 1280px;
    @apply mx-auto;
  }
}

/* Movie List Cards */

.trending .swiper-slide {
  width: 196px;
  height: auto;
}
